// Core variables and mixins
@import "_bootstrap";
@import "sticky-footer";
$main-text :#b9bdc9!default;
body {
    color: $main-text;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color: $main-text;
    font-size: 14px;
}

nav.navbar.navbar-default.navbar-static-top {
    padding-top: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: $main-text;
    padding: 2px 25px;
    font-size: 12px;
}

.mid {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0px;
    }
}

.btn.btn-default {
    border: 2px solid #91a6bb;
    border-radius: 3px;
    padding: 7px 25px;
    font-size: 12px;
    background: transparent;
    color: #abb7cd;
}

a.btn.btn-lg.btn-primary {
    background: #9eafc3;
    border: 0px transparent;
    border-radius: 3px;
    font-size: 13px;
    padding: 10px 50px;
}

@media screen and (min-width: 768px) {
    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 38px;
    }
}

.jumbotron {
    background-color: transparent;
}

.jumbotron p {
    font-size: 15px;
    max-width: 636px;
    font-family: 'Lato', sans-serif;
}

.video {
    background: #e1e2e6;
    height: 223px;
    margin-bottom: -20px;
}

.feature-platform a {
    width: 54px;
    display: block;
    border: 1px solid #EEE;
    height: 54px;
    border-radius: 100px;
    line-height: 58px;
    text-align: center;
}

.media.feature-platform .media-left a {
    display: block;
    width: 58px;
    height: 58px;
    border: 1px solid #bbc5d1;
    border-radius: 1000px;
    line-height: 58px;
    text-align: center;
    color: #bbc5d1;
}

.img-profiles img {
    padding: 7px;
}

.img-profiles {
    margin: 26px auto 77px;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.div-wrap-2 {
    background: #e1e2e6;
    border-radius: 40px;
    border: 0px solid transparent;
    position: absolute;
    height: 307px;
    width: 307px;
}

.div-wrap-1 {
    background: #e1e2e6;
    border-radius: 40px;
    border: 0px solid transparent;
    position: absolute;
    height: 307px;
    width: 307px;
}

.div-wrap-3 {
    background: #e9eaee;
    border-radius: 40px;
    border: 0px solid transparent;
    position: absolute;
    height: 251px;
    width: 151px;
    right: 175px;
    top: 95px;
}

.bg-wrapper-1 {
    background: #f4f5f9;
    overflow: hidden;
    h2 {
        margin-bottom: 44px;
        margin-top: 73px;
    }
}

.bg-wrapper-3 {
    background: #f4f5f9;
    padding: 72px 0 59px;
    h2 {
        margin-bottom: 36px;
    }
}

.testimoni p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.banner-item {
    background: none repeat scroll 0 0 #dcdfe4;
    float: left;
    height: 63px;
    line-height: 63px;
    margin-left: 20px;
    text-align: center;
    width: 132px;
}

.bg-wrapper-2 {
    background: none repeat scroll 0 0 #eeeff3;
    margin-bottom: 75px;
    padding: 48px 0;
}